body{
    font-family: 'Borel', cursive;
    font-family: 'Handjet', cursive;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(255, 0, 0); ;
}
.heading{
    width: 100%; 
    text-align: center;
    font-size: 60px ;
    color: rgb(255, 0, 0);
    background-color: blue;
}
.heading h3{
    font-size: 40px;
    font-family: 'Borel', cursive;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Handjet', cursive;
    font-family: 'Poppins', sans-serif;
}